@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #BDC3C7;
}
.wrapper{
    overflow: hidden;
    max-width: 390px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    /* box-shadow: 0px 15px 20px rgba(0,0,0,0,1); */
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
}
.wrapper .title-text{
    display: flex;
    width: 200%;
}
.wrapper .title-text .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
} 
.wrapper .form-container{
    width: 100%;
    overflow: hidden;
}
.form-container .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    border-radius: 5px solid;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgray;
}
.slide-controls .slide{
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
}
.slide-controls .signup{
    color: #000;
}
.slide-controls .slide-tab{
   position: absolute;
   height: 100%;
   width: 50%;
   left: 0;
   z-index: 0;
   border-radius: 5px;
   background: -webkit-linear-gradient(left, #2a2a72, #009ffd);
   transition: all .6s cubic-bezier(.68, -.55, .265, 1.55);
}
input[type="radio"]{
    display: none;
}
#signup:checked ~ .slide-tab{
    left: 50%;
}
#signup:checked ~ .signup{
    color: #fff;
}
#signup:checked ~ .login{
    color: #000;
}
.form-container .form-inner{
    display: flex;
    width: 200%;  
}
.form-container .form-inner form{
    width: 50%;
    transition: all .6s cubic-bezier(.68, -.55, .265, 1.55);
}
.form-container .form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.form-inner form .field input:focus{
    border-color: #045de9;
}
.form-inner form .field input{
    height: 100%;
    width: 100%; 
    outline: none;
    padding-left: 15px;
    font-size: 17px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    transition: all .4s ease;
}
button{
    height: 100%;
    width: 100%; 
    outline: none;
    padding-left: 15px;
    font-size: 17px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    border-bottom-width: 2px;
}
.form-inner form .pass-link{
    margin-top: 5px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
    color: #fa4299;
    text-decoration: none;
}
.form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
    text-decoration: underline;
}
.form-inner form .field button{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    cursor: pointer;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}
.welcome{
    margin-top: -50%;
    margin-left: 850px;
}
img{
    margin-right: 700px;
}